img, p, h1, h2{
	width: 100%;
	max-width: 640px;
    margin-left: auto;
	margin-right: auto;
}

.map {
    max-width: 1000px;
}

.pop {
    max-width: 1000px;
}

.line {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 700px;
}

.sig {
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 500px;
}

img {
	display: block;
    padding: 15px 0px;
}

p {
	font-size: 18px;
	line-height: 1.4;
    font-family: "Crimson Text";
}

h1, h2 { 
font-family: "Crimson Text";
}

.divider {
    height: 2px;
    max-width: 1000px;
    background-color: #D7301F;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
	margin-right: auto;
    }

 #myTooltip {
    position: absolute;
    pointer-events: none;
    padding: 15px;
	background-color: white;
	border: 1px solid black;
    border-radius: 8px;
    opacity: 0;
    }

    .photo-container {
        display: flex;
        justify-content: center;
        gap: 5px;
      }
      
      .photo-container img {
        width: 450px;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
      }
    
